@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=SUSE:wght@100..800&display=swap');

::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(20, 20, 20);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(48, 48, 48);
    border-radius: 10px;
}


body{
    background-color: rgb(20, 20, 20);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    
}
#intro{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: auto;
    background: rgb(39, 39, 39);
    border-radius: 10px;
    border: 2px solid transparent;
    padding: 10px;  
    transition: all 0.5s ease; 
}
.start:hover{
    border-color: greenyellow;
}
.start h1{
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    font-family: "Inria Sans";
}
.start h3{
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    font-family: "Inria Sans";
}
.start p{
    color: #e2e2e2;
    font-size: 15px;
    font-family: "SUSE";
    text-align: center;
}
.start button{
    width: auto;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(39, 39, 39);
    background: greenyellow;
    color: rgb(39,);
    font-size: 15px;
    font-family: "Inria Sans";
    cursor: pointer;
    margin: auto;
    transition: all 0.5s ease;
}
.start button:hover{
    background: rgb(39, 39, 39);
    color: greenyellow;
    border-color: greenyellow;
}
.start input, textarea{
    outline: none;
    border: 1px solid rgb(50, 50, 50);
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    color: greenyellow;
    margin: 10px 0px;
    font-family: 'Inria Sans';
}
.start textarea{
    color: white;
    display: block !important;
    width: 95%;
}
.start input:focus, textarea:focus{
    border-color: greenyellow;
}
.start input::placeholder, textarea::placeholder{
    color: gray;
}

/* Preview Section */

.preview ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.preview li{
    list-style: none;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'SUSE';
    margin: 5px;
    background-color: rgb(196, 255, 204);
    text-align: left;
    padding: 5px;
    border-radius: 5px;
}
.preview #delete{
    color: white;
    background-color: red;
    cursor: pointer;
    font-weight: bold;
    border: transparent;
    transition: all 0.5s ease;
    padding: 4px;
}
.preview #delete:hover{
    background-color: black;
}

/* Resume Section */
#resume{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Inria Sans';
    font-size: 15px;
    width: 90vw;
    margin: 10px;
}
#resume .header{
    display: flex;
    width: 60vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(36, 36, 36);
    padding: 10px;
    border-radius: 10px;
}
.header img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-position: center;
}
.header h1{
    font-size: 40px;
    font-family: 'Inria Sans';
    font-weight: bold;
}
.header #userrole{
    display: block;
    font-size: 20px;
    text-align: center;
}
.header ul{
    list-style: none;
}
#resume .details{
    display: flex;
    width: 56vw;
    flex-direction: column;
    background-color: rgb(36, 36, 36);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    padding: 0px 30px;
}
#result #userskills #usereducation{
    list-style: none;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#userskills li{
    list-style: none;
    padding: 5px 10px;
    border-radius: 5px;
    background: transparent;
    color: greenyellow;
    border: 1px solid greenyellow;
    display: inline;
    margin: 0px 5px;
    transition: all 0.5s ease;
    cursor: pointer;
}
#userskills li:hover{
    background: greenyellow;
    color: black;
}

.data_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    padding: 10px;
    background: transparent;
    border: 1px solid greenyellow;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: greenyellow;
    width: 25%;
    transition: all 0.5s ease;
    cursor: pointer;
    margin: 5px;
    height: 6rem;
}

.card:hover{
    transform: scale(1.1);
}

#mini_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}
#mini_menu button{
    width: auto;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(39, 39, 39);
    background: greenyellow;
    color: rgb(39,);
    font-size: 15px;
    font-family: "Inria Sans";
    cursor: pointer;
    margin: auto;
    transition: all 0.5s ease;
}

#mini_menu button:hover{
    background: rgb(39, 39, 39);
    color: greenyellow;
    border-color: greenyellow;
}

.hidden{
    display: none !important;
}

@media (max-width:767px){
    .start{
        width: 90%;
    }
    #resume .header{
        width: 90vw;
    }
    #resume .details{
        width: 86vw;
    }
}
